body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.add-expense-form {
  position:absolute;
  top: 100%;
  z-index: 999;
  min-width: 500px;
  background-color: #06283D;
  border-radius: 3px;
}

.btn{
	box-shadow: none !important;
}

button:focus {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
}

.btn-close:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
  opacity: 0.5 !important;
}